.test1 {
    width: 28.5ch;
}

/* .btn-login{
    margin-right: 5px;
}

.btn-signup {
    margin-left: 5px;
} */

.test2 {
    position: center;
    justify-content: center;
    text-align: center;
    display: inline-block;

}